htlm {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 30px 0 30px;
  padding: 0;
  font-family: sans-serif;
  color: #1B997A;
  display: grid;
  grid-template-rows: 15% 75% 10%;
}

/* Header */

header {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 25% 50% 15%;
  grid-template-rows: 50% 50%;
  padding-top: 10px;
}

header img {
  grid-row: 1/3;
  grid-column: 1/2;
}

header h1 {
  grid-row: 1/2;
  grid-column: 2/3;
  margin: 0;
}

/* Main */

main {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 10% 40% 30% 10%;
}

main section {
  padding: 0 20px 0 20px;
  grid-column: 2/3;
}

main section h2 {
  margin: 0;
  color: #61CCB1;
}

#job-listings li {
  display: flex;
  flex-flow: column;
}

h1 {
  color: #C261CC;
  font-family: serif;
}

ul {
  list-style: none;
}

h4 {
  margin: 0;
}

small {
  color: black;
  font-size: .5rem;
  margin-left: 10px;
}

p {
  font-size: .8rem;
}

/* Aside */

#side-bar {
  grid-column: 3/4;
}

form {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  padding: 5px;
}

footer small {
  margin: 0 auto;
}
